<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-2 col-sm-2 col-xs-4">
                        <img src="img/logos/tran-nguyen.jpg" class="img-responsive img-centered" alt="">
                </div>
                <div class="col-md-2 col-sm-2 col-xs-4">
                        <img src="img/logos/anlac.jpg" class="img-responsive img-centered" alt="">
                </div>
                <div class="col-md-2 col-sm-2 col-xs-4">
                        <img src="img/logos/bacnam.jpg" class="img-responsive img-centered" alt="">
                </div>
                <div class="col-md-2 col-sm-2 col-xs-4">
                        <img src="img/logos/quangminh.jpg" class="img-responsive img-centered" alt="">
                </div>
                <div class="col-md-2 col-sm-2 col-xs-4">
                        <img src="img/logos/vankhanh.jpg" class="img-responsive img-centered" alt="">
                </div>
                <div class="col-md-2 col-sm-2 col-xs-4">
                        <img src="img/logos/anphuthinh.jpg" class="img-responsive img-centered" alt="">
                </div>
            </div>
        </div>
    </aside>