<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Đăng ký sử dụng TaskWork</h2>
                    <h3 class="section-subheading text-success">
                        Đăng ký ngay để được dùng thử miễn phí 2 tháng
                        <br><br>
                        Đăng nhập với tài khoản: <a style="color: white;">demo@tipici.vn</a> mật khẩu: <a style="color: white;">demo</a> để trải nghiệm
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form name="sentMessage" id="main-contact-form" method="POST" novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="control-group form-group">
                                    <input type="text" class="form-control" placeholder="Họ và tên *" id="name" required data-validation-required-message="Hãy điền tên của bạn.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="control-group form-group">
                                    <input type="email" class="form-control" placeholder="Email *" id="mail" required data-validation-required-message="Hãy điền địa chỉ email của bạn.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="control-group form-group">
                                    <input type="tel" class="form-control" placeholder="Điện thoại *" id="phone" required data-validation-required-message="Hãy điền số điện thoại của bạn.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="control-group form-group">
                                    <input type="text" class="form-control" placeholder="Tên công ty *" id="company" required data-validation-required-message="Hãy điền tên công ty của bạn.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="control-group form-group">
                                    <input type="text" class="form-control" placeholder="Tỉnh/thành phố *" id="province" required data-validation-required-message="Hãy điền tỉnh/thành phố">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="control-group form-group">
                                    <input type="number" class="form-control" placeholder="Số lượng người dùng*" id="number" required data-validation-required-message="Hãy điền số lượng người dùng.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <button type="submit" class="btn btn-xl">Đăng ký </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
