<!-- features Grid Section -->
    <section id="features" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Tính năng TaskWork</h2>
                    <h3 class="section-subheading text-muted">Giải pháp quản lý công việc & dự án toàn diện cho doanh nghiệp 4.0</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-sm-12 features-item">
                    <a href="#featuresModal1" class="features-link" data-toggle="modal">
                        <!-- <div class="features-hover">
                            <div class="features-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div> -->
                        <!-- <img src="img/features/{{ post.thumbnail }}" class="img-responsive img-centered" alt=""> -->
                        <embed src="img/features/tienloi.svg" class="img-responsive img-centered" alt=""/>
                    </a>
                    <!-- <div class="features-caption">
                        <h4>{{ post.title }}</h4>
                        <p class="text-muted">{{ post.subtitle }}</p>
                    </div> -->
                </div>
                <div class="col-md-4 col-sm-12 features-item">
                    <div class="row"><h3 style="text-align: center;">GIAO DIỆN THÂN THIỆN</h3></div>
                    <div class="list-group list-group-flush">
                        <li class="list-group-item"><a class="text-white btn-floating btn-fb btn-sm"><i class="fa fa-check-square-o fa-lg"></i></a>
                            Phát triển theo hướng mở, tùy biến theo ý muốn người quản lý</li>
                        <li class="list-group-item"><a class="text-white btn-floating btn-fb btn-sm"><i class="fa fa-check-square-o fa-lg"></i></a>
                            Giao diện trực quan, thân thiện</li>
                        <li class="list-group-item"><a class="text-white btn-floating btn-fb btn-sm"><i class="fa fa-check-square-o fa-lg"></i></a>
                            Tạo list (Các bước của dự án) đơn giản</li>
                        <li class="list-group-item"><a class="text-white btn-floating btn-fb btn-sm"><i class="fa fa-check-square-o fa-lg"></i></a>
                            Tạo card (nhóm công việc) của từng list</li>
                        <li class="list-group-item"><a class="text-white btn-floating btn-fb btn-sm"><i class="fa fa-check-square-o fa-lg"></i></a>
                            Tạo task (cụ thể hóa thành công việc chi tiết để thực hiện) của dự án</li>
                        <li class="list-group-item"><a class="text-white btn-floating btn-fb btn-sm"><i class="fa fa-check-square-o fa-lg"></i></a>
                            Bổ sung, xóa, sửa list, card, task 1 cách linh động, không bị đóng khung theo khuôn mẫu</li>
                        <li class="list-group-item"><a class="text-white btn-floating btn-fb btn-sm"><i class="fa fa-check-square-o fa-lg"></i></a>
                            Copy dự án, list, card, task mấu đối với những dự án giống nhau, không cần phải tạo lại</li>
                      </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-12 features-item">
                    <div class="row"><h3 style="text-align: center;">LÀM VIỆC NHÓM HIỆU QUẢ</h3></div>
                </br>
                    <div class="list-group list-group-flush">
                        <li class="list-group-item"><a class="text-white btn-floating btn-fb btn-sm"><i class="fa fa-check-square-o fa-lg"></i></a> 
                            Giao việc cho team đồng bộ</li></br>
                        <li class="list-group-item"><a class="text-white btn-floating btn-fb btn-sm"><i class="fa fa-check-square-o fa-lg"></i></a>
                            Thêm thành viên cụ thể vào từng nhóm công việc cụ thể</li></br>
                        <li class="list-group-item"><a class="text-white btn-floating btn-fb btn-sm"><i class="fa fa-check-square-o fa-lg"></i></a>
                            Thông báo việc, nhắc việc, xem tiến độ của công việc trực quan, duyệt, chuyển mức độ công việc sang hoàn thành</li></br>
                        <li class="list-group-item"><a class="text-white btn-floating btn-fb btn-sm"><i class="fa fa-check-square-o fa-lg"></i></a>
                            Loại bỏ vấn đề sót việc, quên việc từ leader đến thành viên trong công ty</li></br>
                        <li class="list-group-item"><a class="text-white btn-floating btn-fb btn-sm"><i class="fa fa-check-square-o fa-lg"></i></a>
                            Làm việc đồng bộ cùng với cloud khi quy ước đường dẫn thực hiện trên cloud</li>
                      </div>
                </div>
                <div class="col-md-8 col-sm-12 features-item">
                    <a href="#featuresModal2" class="features-link" data-toggle="modal">
                        <!-- <div class="features-hover">
                            <div class="features-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div> -->
                        <!-- <img src="img/features/{{ post.thumbnail }}" class="img-responsive img-centered" alt=""> -->
                        <embed src="img/features/teamwork.svg" class="img-responsive img-centered" alt=""/>
                    </a>
                    <!-- <div class="features-caption">
                        <h4>{{ post.title }}</h4>
                        <p class="text-muted">{{ post.subtitle }}</p>
                    </div> -->
                </div>
                
            </div>
            <div class="row">
                <div class="col-md-8 col-sm-12 features-item">
                    <a href="#featuresModal3" class="features-link" data-toggle="modal">
                        <!-- <div class="features-hover">
                            <div class="features-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div> -->
                        <!-- <img src="img/features/{{ post.thumbnail }}" class="img-responsive img-centered" alt=""> -->
                        <embed src="img/features/manage.svg" class="img-responsive img-centered" alt=""/>
                    </a>
                    <!-- <div class="features-caption">
                        <h4>{{ post.title }}</h4>
                        <p class="text-muted">{{ post.subtitle }}</p>
                    </div> -->
                </div>
                <div class="col-md-4 col-sm-12 features-item">
                    <div class="row"><h3 style="text-align: center;">QUẢN LÝ TỐI ƯU</h3></div></br>
                    <div class="list-group list-group-flush">
                        <li class="list-group-item"><a class="text-white btn-floating btn-fb btn-sm"><i class="fa fa-check-square-o fa-lg"></i></a>
                            Tạo nhãn và quy ước nhãn đồng bộ cho cả công ty, thêm nhãn cho dự án về mức độ yêu cầu của công việc</li></br>
                        <li class="list-group-item"><a class="text-white btn-floating btn-fb btn-sm"><i class="fa fa-check-square-o fa-lg"></i></a>
                            Gắn nhãn cho công việc</li></br>
                        <li class="list-group-item"><a class="text-white btn-floating btn-fb btn-sm"><i class="fa fa-check-square-o fa-lg"></i></a>
                            Kiểm soát thông tin dự án từ lúc khởi đầu đến khi kết thúc dự án thể hiện qua bút tích thực hiện từ lisk tới task</li></br>
                        <li class="list-group-item"><a class="text-white btn-floating btn-fb btn-sm"><i class="fa fa-check-square-o fa-lg"></i></a>
                            Chế độ tìm kiếm thông minh cho các dự án trong 1 công ty</li></br>
                        <li class="list-group-item"><a class="text-white btn-floating btn-fb btn-sm"><i class="fa fa-check-square-o fa-lg"></i></a>
                            Chế độ tìm kiếm cho từng dự án</li>
                      </div>
                </div>
            </div>
        </div>
    </section>
