<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top navbar-shrink">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <class class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            </class><a href="#page-top" class="page-scroll"><img class="navbar-brand" style="padding: 1.5px 1px 1.5px" src="../img/logos/taskwork.svg"  ></a>
        

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#services">Bảng giá</a>
                </li>
                <li>
                    <a class="page-scroll" href="#features">Tính năng</a>
                </li>
                
                <li>
                    <a class="page-scroll" href="#customer">Khách hàng</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Đăng ký</a>
                </li>
                <li>
                    <button  class="btn-outline-warning" onclick="location.href='https://taskwork.vn/login'">Đăng nhập</button>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <!-- <div class="intro-lead-in">Welcome To Our Studio!</div>
            <div class="intro-heading">It's Nice To Meet You</div> -->
            <!-- <a href="#services" class="page-scroll btn btn-xl">Xem thêm</a> -->
        </div>
    </div>
    <!-- Your customer chat code -->
    <div class="fb-customerchat" attribution=setup_tool page_id="125042826344443">
    </div>
</header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->