<!-- Services Section -->
<section id="services">
    <div id="pay" class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Bảng giá</h2>
                <h3 class="section-subheading text-muted">Giải pháp quản lý công việc & dự án toàn diện cho doanh nghiệp
                    4.0
                </h3>
            </div>
        </div>
        <div class="row packages more">
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="package">
                    <h2>Starter</h2>
                    <b>5 tài khoản</b>
                    <div class="price">
                        <b>500,000</b> VND/Tháng
                        <p class="small">+ <em>30,000</em>đ/1 tài khoản<br>từ tài khoản thứ 6 trở đi</p>
                    </div>
                    <div class="package__info">
                        <div class="info">Sử dụng <a href="#features" class="page-scroll">toàn bộ tính năng sản phẩm</a>
                        </div>
                        <div class="info">Hỗ trợ trong giờ hành chính</div>
                        <div class="info">Miễn phí cập nhật tính năng mới</div>
                        <div class="info">&nbsp;</div>
                    </div>
                    <div class="msg">
                        <div class="info">&nbsp;</div>
                        <div class="info">Thanh toán tối thiểu 12 tháng</div>
                    </div>
                    <a class="block submit __ap_processed page-scroll" href="#contact">Đăng ký</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="package middle popular ">
                    <h2>Growth</h2>
                    <b>30 tài khoản</b>
                    <div class="price">
                        <b>1,000,000</b> VND/Tháng
                        <p class="small">+ <em>30,000</em>đ/1 tài khoản<br>từ tài khoản thứ 31 trở đi</p>
                    </div>
                    <div class="package__info">
                        <div class="info">Sử dụng <a href="#features" class="page-scroll">toàn bộ tính năng sản phẩm</a>
                        </div>
                        <div class="info">Hỗ trợ trong giờ hành chính</div>
                        <div class="info">Miễn phí cập nhật tính năng mới</div>
                        <div class="info">&nbsp;</div>
                    </div>
                    <div class="msg">
                        <div class="info">&nbsp;</div>
                        <div class="info">Thanh toán tối thiểu 12 tháng</div>
                    </div>
                    <a class="block submit __ap_processed page-scroll" href="#contact">Đăng
                        ký</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="package">
                    <h2>Business</h2>
                    <b>60 tài khoản</b>
                    <div class="price">
                        <b>1,500,000 VND</b>/ tháng
                        <p class="small">+ <em>30,000</em>đ/1 tài khoản<br>từ tài khoản thứ 61 trở đi</p>
                    </div>
                    <div class="package__info">
                        <div class="info">Sử dụng <a href="#features" class="page-scroll">toàn bộ tính năng sản phẩm</a>
                        </div>
                        <div class="info">Hỗ trợ trong giờ hành chính</div>
                        <div class="info">Miễn phí cập nhật tính năng mới</div>
                        <div class="info">Đào tạo trực tiếp</div>
                    </div>
                    <div class="msg">
                        <div class="info">&nbsp;</div>
                        <div class="info">Thanh toán tối thiểu 12 tháng</div>
                    </div>
                    <a class="block submit __ap_processed page-scroll" href="#contact">Đăng
                        ký</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="package">
                    <h2>Enterprise</h2>
                    <b style="color:#f9f9f9">... tài khoản</b>
                    <div class="price -sep">
                        <b>Liên hệ</b> để có giá tốt nhất
                    </div>
                    <div class="package__info">
                        <div class="info">Sử dụng <a href="#features" class="page-scroll">toàn bộ tính năng sản phẩm</a>
                        </div>
                        <div class="info"><b>API tích hợp</b> app nội bộ của Công ty</div>
                        <div class="info">Miễn phí cập nhật tính năng mới</div>
                        <div class="info">Đào tạo trực tiếp</div>
                    </div>
                    <div class="msg">
                        <div class="info">&nbsp;</div>
                        <div class="info">&nbsp;</div>
                    </div>
                    <a class="block submit __ap_processed page-scroll" href="#contact">Đăng
                        ký</a>
                </div>
            </div>
        </div>
        <div class="contact">
            Liên hệ hotline <a href="tel:(+84)919882756">(+84)919 882756</a> để được tư vấn
        </div>
    </div>
</section>